@import "../partials/variables";

section.section-image-gallery {
  .image-galley {
    padding: 0 16px;
  }

  .image-gallery-item {
    padding: 0;
    margin: 15px;

    img {
      transition: box-shadow .3s;

      &:hover {
        box-shadow: 0 0 12px 3px rgba($black, .5);
      }
    }
  }

}