.btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: $grey;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 8px 20px;
  font-size: 1rem;
  line-height: 1.35;
  border-radius: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  // font-family: $font-secondary;
  font-weight: normal;

  &.btn-primary {
    background-color: $purple;
    color: $white;
    border-color: $purple;

    &:hover {
      background-color: $white;
      color: $purple;
    }
  }

  &.btn-primary-outline {
    background-color: $white;
    color: $purple;
    border-color: $purple;

    &:hover {
      background-color: $purple;
      color: $white;
    }
  }


  &.btn-secondary, &.btn-secondary-outline {
    background: linear-gradient(180deg, #7B18F9 0%, #F95C54 100%);
    background: $gradient;
    padding: 2px;
    border: 0;

    span {
      transition: background-color 0.15s ease-in-out;
      display: block;
      padding: 8px 20px;
      border-radius: 8px;
    }
  }


  &.btn-secondary {
    color: $white;

    &:hover {
      color: $blue;

      span {
        background-color: $white;
      }
    }
  }

  &.btn-secondary-outline {
    color: $blue;

    span {
      background-color: $white;
    }

    &:hover {
      color: $white;

      span {
        background-color: transparent;
      }
    }
  }

  &.load-more-posts, &[type="submit"] {
    position: relative;

    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      animation: spinner-spin 2s infinite linear;
      opacity: 0;
      transition: opacity .3s;
      fill: $lilac;
    }

    &.loading {
      span {
        background-color: $white;
        color: transparent;
      }

      svg {
        opacity: 1;
      }
    }
  }

}

@keyframes spinner-spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}